* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  background: linear-gradient(90deg, #672280 0%, #a626d3 100%);
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 20px;
  font-weight: 700;
}

.header--img {
  padding-right: 5px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

main {
  padding: 36px;
}

.form {
  /* display: flex; */
  display: grid; /*to make it with grid*/
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  /* padding: 30px 30px 0 30px; */
  width: 100%;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  /* width: 230px;
  height: 35px; */
  /* margin-right: 16px; */
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px; /*makes a space before the text*/
}

.form--button {
  /* width: 477px; */
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  /* margin: 15px 30px; */
  border-radius: 5px;
  border: none;
  background: linear-gradient(135deg, #711f8d 0%, #a818da 100%);
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme {
  position: relative;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
